/*ALLE SIDER*/
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #FAFAFA;
	color: #2E2E2E;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.6vw;
	padding-bottom: 10px;
	margin-bottom: 10px;
	/*color: #000000;*/
	border-bottom: 1px solid #FF3030;/**/
}

p {
	line-height: 150%;
}

section {
	margin: 0 auto -200px;
	padding: 0;
	width: 75%;
    height: 100%;
	clear: left;
}

article {
	margin-bottom: 3%;
}

article.venstreSpalte {
	width: 70%;
	float: left;
}

article.hovedSpalte {
	width: 100%;
	float: left;
}

article.hoyreSpalte {
	width: 25%;
	float: right;
}

/*header*/
.headerImg {
	width: 100%;
	height: 410px;
	margin: 0;
	margin-top: 90px;/**/
	padding: 0;
	position: absolute;
}

#navLogo {
	height: 87%;
	/*width: 7.5%;*/
	z-index: 2;
	position: relative;
	margin-top: 0.5%;
	left: 6.1%;
}

header {
	float: left;
	width: 100%;
	height: 500px;
}

#bilde1 {
	opacity: 1;
}

#bilde2 {
	opacity: 0;
}
#bilde3 {
	opacity: 0;
}
#bilde4 {
	opacity: 0;
}
#bilde5 {
	opacity: 0;
}

/*Nav-bar*/
#navbar {
	width: 100%;
	/*height: 20%;*/
	height: 130px;
	position: fixed;
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient( rgba(255,255,255,0.8), rgba(209,163,25,1));
	background: -moz-linear-gradient( rgba(255,255,255,0.8), rgba(209,163,25,1));
	background: -o-linear-gradient( rgba(255,255,255,0.8), rgba(209,163,25,1));
	background: -ms-linear-gradient( rgba(255,255,255,0.8), rgba(209,163,25,1));
	background: #333333;/*linear-gradient( rgb(255,255,255), rgb(209,163,25));*//**/
	display: border-box;
	box-shadow: -1px 1px 5px #000000;/**/
	z-index: 1;
}

nav {
	bottom: 0;
	right: 0;
	height: 30%;
	width: 43%;
	position: absolute;
	margin-top: 6.07%;
	margin-right: 3%;
	z-index: 2;
}

nav#headerMenuEn {
	margin-right: 4.8%;
}

ul#noEn{
	list-style-type: none;
	position: absolute;
	width: 15%;
	/*height: 28%;*/
	/*top: -7%;*/
	right: 8.5%;
	/*background: black;*/
	/*background: #D1A319;*//**/
	font-size: 1.1vw;
	padding-bottom: 0;
	z-index: 2;
}

ul#noEn li {
	float: left;
	padding-left: 4%;
}

ul#noEn li#borderRight {
	border-right: 2px solid #FF3030;
	padding-right: 4%;
	padding-left: 0;
}

ul#noEn li a {
    color: #FAFAFA;
	border-bottom: 1px solid #333333;
	text-decoration: none;
}
	ul#noEn li a:hover, ul#noEn li a:focus {
		border-bottom: 1px solid #FF3030;
	}

nav ul {
	list-style-type: none;
    padding: 0;
	margin: 0;
	position: relative;
	font-weight: bold;
	font-size: 1.4vw;
	border: 0;
	height: 100%;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
	height: 100%;
	margin-right: 8%;
}
	nav ul li a {
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		height: 100%;
		color: #FAFAFA;/**/
		border-bottom: 4px solid #333333;/**/
	}
		nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
			/*outline: 0;*/
			border-bottom: 4px solid #FF3030;
		}
		nav ul li a.highlight {
			border-bottom: 4px solid #FF3030;/**/
		}

nav ul ul#subnav1,nav ul ul#subnav2 {	
	display: none;
	position: absolute;
	padding: 0;
	width: 15%;
}
	nav ul ul li {
		background: #333333;/**/
		position: relative;
		padding: 15px 5px 1px 5px;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		width: 150%;
	}
	nav ul ul li a {
		border-bottom: 1px solid #888888;
		width: 100%;
		margin-bottom: 0.1%;
		font-size: 1.2vw;
	}
	nav ul ul li a:hover, nav ul ul li a:focus, nav ul ul li a:active {
		border-bottom: 1px solid #FF3030;
	}

/* footer */
footer {
	width: 100%;
	height: 215px;
	/*height: 33vh;*/
	background-color: #333333;/**/
	box-shadow: -1px 1px 5px #000000;/**/
	clear: both;
	color: #FAFAFA;/**/
	font-size: 1.17vw;
}
	footer div.footerwrap {
		width: 78.5%;
		height: 100%;
		margin-left: 12%;
	}

	footer div div {
		float: left;
		width: 31%;
		height: 100%;
		margin-right: 2%;
	}
		footer div div h5 {
			margin-bottom: 0px;
			margin-top: 12px;
		}
		footer div div h3 {
			border-bottom: 2px solid #FF3030;
			color: #FAFAFA;/**/
		}
		footer div div img {
			width: 30%;
			margin-right: 5%;
			margin-top: 5%;
			margin-left: 10.5%;
		}

	footer ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		border: 0;
	}
		footer ul:after {
			content: ""; 
			clear: both; 
			display: block;
		}
		footer ul.footerMeny li#footerHjem {
			width: 12%;/**/
		}
		footer ul.footerMeny li#footerHjemEn {
			width: 13%;/**/
		}
		footer ul.footerMeny li#footerInfo {
			width: 18%;/**/
		}
		footer ul.footerMeny li#footerInfoEn{
			width: 20%;
		}
		footer ul.footerMeny li#footerUtleie{
			width: 13%;/**/
		}
		footer ul.footerMeny li#footerUtleieEn{
			width: 14%;/**/
		}
		footer ul.footerMeny li#footerDJ{
			width: 6%;/**/
		}
		footer ul.footerMeny li#footerKontakt{
			width: 17%;/**/
		}
		footer ul#footerKontaktListe li {
			border-bottom: 1px solid #333333;
		}
		footer ul li {
			margin-top: 12px;
			margin-bottom: 0;
			box-sizing: border-box;
			padding: 0;
		}
			footer ul li a {
				display: block;
				text-decoration: none;
				color: #FAFAFA;/**/
				border-bottom: 1px solid #333333;
			}
			footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
				/*outline: 0;*/
				/*color: #FF3030;*/
				border-bottom: 1px solid #FF3030;/**/
			}
	footer ul ul#subnav2 {
		display: none;
		float: none;
		width: 100%;
		position: absolute;
		left: 15%;
		top: 13.5%;
	}
	footer ul ul.footerMenuEnglish {
		left: 16% !important;
	}
		footer ul ul li {
			float: left;
			border-left: 1px solid #FF3030;
			/*border-left: 0;*/
			padding-right: 2%;
			padding-left: 2%;
		}
		footer ul ul li a:hover, footer ul ul li a:focus, footer ul ul li a:active {
			/*outline: 0;*/
			/*color: #FF3030;*/
			border-bottom: 1px solid #FF3030;/**/
		}
div#sosialMedia {
	position: relative;
}
p#copyright {
	position: absolute;
	right: 0;
	font-size: 0.9vw;
	bottom: -5%;
}
/*FORSIDE*/
.publisert {
	font-style: italic;
	font-size: 80%;
}

#nyhetSide1 {
	display: block;
}
#nyhetSide2 {
	display: none;
}

span {
	font-size: 150%;
}

.nyhetNav {
	font-size: 150%;
	text-align: center;
}

img.forsideBilde {
	box-shadow: 0px 0px 3px #000000;
	width: 100%;
}

.nyhetBilde {
	width: 100%;
	box-shadow: 0px 0px 3px #000000;
}

a.active { 
	color: #FF3030;;
}
		
/*OM OSS SIDEN*/
article a.anchor {
	padding-top: 21vh;/*150px*/;
}

article a.anchor:hover {
	color:000000 !important;
}

#infoImg {
	width: 61%;
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	box-shadow: 0px 0px 3px #000000;
}

.linje {
	padding-top: 14px;
	border-top: 1px solid #FF3030;
}

/*UTLEIE SIDER*/
article a.utleieLink {
    color: #2E2E2E;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
}

article a.utleieLink:hover {
    border-bottom: 1px solid #FF3030;
}

.utleieBilde {
	width: 100%;
	box-shadow: 0px 0px 3px #000000;
}
#utleieDivHoyre {
	margin-right: 0;
}
.utleieWrap div {
	float: left;
	width: 20%;
	margin-right: 6%;
}
.utleieWrap {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 3%;
}

th img{
	width: 60%;
}

.utleieOversikt{
	border-width: 0 0 1px 1px;
    border-style: solid;
	color: black;
	width: 100%;
}


.utleieOversikt td, th{
	margin: 0;
    border: 0.6px;
	border-color: #666666;
	border-style: solid;
	border-width: 1px 1px 0 0;
	padding: 0.7vw;
}
.utleieBeskrivelse{
	font-weight: bold;
}

/*DJ SIDE*/
.djImg {
	width: 100%;
	box-shadow: 0px 0px 3px #000000;
}

.dj {
	width: 30%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

#rightDjDiv {
	margin-right: 0;
}

/*KONTAKT SIDE*/
form {
	float: left;
	width: 47.5%;
}

input {
	float: right;
	height: 25px;
	width: 250px;
}

input#submit {
	margin-top: 10px;
	float: left;
}

select {
	float: right;
	height: 25px;
	width: 254px;
}

textarea {
	clear: both;
	float: left;
	width: 209.5%;
	height: 300px;
}

article div.informasjon {
	float: right;
	width: 35%;
}


@media only screen  and (min-width : 1824px) {
	/*large screens*/
	footer {
		height: 300px;
	}
}

@media only screen 
and (min-device-width : 501px) 
and (max-device-width : 768px) {
		/* tablets */
		/*ALLE SIDER*/
		/*header*/
		h1 {
			font-size: 3.2vw;
		}
		#navLogo {
			margin-top: 1.5%;
			left: -5.5%;
		}
		#navbar {
			height: 130px;
		}
		nav {
			margin-right: -7.5%;
			width: 65%;
		}
		nav#headerMenuEn {
			margin-right: -5.5%;
		}
		nav ul {
			font-size: 2.3vw;
		}
		nav ul ul li {
			width: 150%;
		}
		nav ul ul li a {
			width: 100%;
			font-size: 1.8vw;
		}
		ul#noEn {
			width: 19%;
			right: 2%;
			font-size: 1.5vw;
		}
		/*hoved innhold*/
		section {
			width: 100%;
		}
		article.venstreSpalte {
			width: 65%;
			float: left;
			margin-left:3%
		}
		article.hoyreSpalte {
			width: 25%;
			float: right;
			margin-right: 3%;
		}
		article.hovedSpalte {
			width: 94%;
			margin-left: 3%;
			float: left;
		}
		/*footer*/
		footer {
			height: 250px;
			font-size: 1.7vw;
		}
		footer div.footerwrap {
			width: 97%;
			margin-left: 3%;
		}
		footer ul ul#subnav2 {
			top: 12.5%;
			left: 17%;
		}
		footer ul.footerMeny li#footerHjem {
			width: 14%;/**/
		}
		footer ul.footerMeny li#footerHjemEn {
			width: 15%;/**/
		}
		footer ul.footerMeny li#footerInfo {
			width: 21%;/**/
		}
		footer ul.footerMeny li#footerInfoEn{
			width: 24%;
		}
		footer ul.footerMeny li#footerUtleie{
			width: 14.5%;/**/
		}
		footer ul.footerMeny li#footerUtleieEn{
			width: 16%;/**/
		}
		footer ul.footerMeny li#footerDJ{
			width: 6.5%;/**/
		}
		footer ul.footerMeny li#footerKontakt{
			width: 20%;/**/
		}
		footer ul ul.footerMenuEnglish {
			left: 17% !important;
		}
		p#copyright {
			position: absolute;
			right: 0;
			font-size: 1.1vw;
			bottom: 0%;
		}
		/*INFO SIDE*/
		#infoImg {
			width: 61%;
		}
		article a.anchor {
			padding-top: 135px;
		}
		/*UTELEIE SIDE*/
		.utleieBilde {
			width: 80%;
		}
		/*KONTAKT SIDE*/
		article div.informasjon {
			width: 35%;
		}
		form {
			width: 57%;
		}
		textarea {
			width: 173.4%;
			height: 300px;
		}
		#kontaktSendt {
			min-height: 385px;
			width: 100%;
		}
}

@media only screen 
and (min-width : 501px) 
and (max-width : 768px) {
		/* tablets */
		/*ALLE SIDER*/
		/*header*/
		h1 {
			font-size: 3.2vw;
		}
		#navLogo {
			margin-top: 1.5%;
			left: -8%;
		}
		#navbar {
			height: 130px;
		}
		nav {
			margin-right: -7.5%;
			width: 65%;
		}
		nav#headerMenuEn {
			margin-right: -5.5%;
		}
		nav ul {
			font-size: 2.3vw;
		}
		nav ul ul li {
			width: 150%;
		}
		nav ul ul li a {
			width: 100%;
			font-size: 1.8vw;
		}
		ul#noEn {
			width: 19%;
			right: 2%;
			font-size: 1.5vw;
		}
		/*hoved innhold*/
		section {
			width: 100%;
		}
		article.venstreSpalte {
			width: 65%;
			float: left;
			margin-left:3%
		}
		article.hoyreSpalte {
			width: 25%;
			float: right;
			margin-right: 3%;
		}
		article.hovedSpalte {
			width: 94%;
			margin-left: 3%;
			float: left;
		}
		/*footer*/
		footer {
			height: 190px;
			font-size: 1.7vw;
		}
		footer div.footerwrap {
			width: 97%;
			margin-left: 3%;
		}
		footer ul ul#subnav2 {
			top: 12.5%;
			left: 17%;
		}
		footer ul.footerMeny li#footerHjem {
			width: 14%;/**/
		}
		footer ul.footerMeny li#footerHjemEn {
			width: 15%;/**/
		}
		footer ul.footerMeny li#footerInfo {
			width: 21%;/**/
		}
		footer ul.footerMeny li#footerInfoEn{
			width: 24%;
		}
		footer ul.footerMeny li#footerUtleie{
			width: 14.5%;/**/
		}
		footer ul.footerMeny li#footerUtleieEn{
			width: 14%;/**/
		}
		footer ul.footerMeny li#footerDJ{
			width: 6.5%;/**/
		}
		footer ul.footerMeny li#footerKontakt{
			width: 20%;/**/
		}
		footer ul ul.footerMenuEnglish {
			left: 17% !important;
		}
		p#copyright {
			position: absolute;
			right: 0;
			font-size: 1.5vw;
			bottom: 0%;
		}
		/*INFO SIDE*/
		#infoImg {
			width: 61%;
		}
		article a.anchor {
			padding-top: 135px;
		}
		/*UTELEIE SIDE*/
		.utleieBilde {
			width: 80%;
		}
		/*KONTAKT SIDE*/
		article div.informasjon {
			width: 35%;
		}
		form {
			width: 57%;
		}
		textarea {
			width: 173.4%;
			height: 300px;
		}
		#kontaktSendt {
			min-height: 385px;
			width: 100%;
		}
}

@media only screen 
and (max-device-width:500px) {
   /* Mobile */
	/*ALLE SIDER*/
		/*header*/
		h1 {
			font-size: 4.7vw;
		}
		#navbar {
			height: 130px;
		}
		#navLogo {
			height: 70%;
			margin-top: 2.8%;
			left: -4%;
		}
		nav {
			margin-right: -15%;
			width: 84%;
		}
		nav#headerMenuEn {
			margin-right: -9%;
		}
		nav ul {
			font-size: 2.9vw;
		}
		nav ul ul li {
			width: 150%;
		}
		nav ul ul li a {
			width: 100%;
			font-size: 2.6vw;
		}
		ul#noEn {
			width: 28%;
			right: 1%;
			font-size: 2.3vw;
		}
		/*hoved innhold*/
		section {
			width: 100%;
		}
		article.venstreSpalte {
			width: 94%;
			float: left;
			margin-left:3%
		}
		article.hoyreSpalte {
			width: 94%;
			float: left;
			margin-left: 3%;
		}
		article.hovedSpalte {
			width: 94%;
			margin-left: 3%;
			float: left;
		}
		/*footer*/
		footer {
			height: 300px;
			font-size: 2.1vw;
		}
		footer div.footerwrap {
			width: 97%;
			margin-left: 3%;
		}
		footer ul ul#subnav2 {
			top: 14%;
			left: 20.5%;
		}
		footer ul.footerMeny li#footerHjem {
			width: 18%;/**/
		}
		footer ul.footerMeny li#footerHjemEn {
			width: 21%;/**/
		}
		footer ul.footerMeny li#footerInfo {
			width: 27%;/**/
		}
		footer ul.footerMeny li#footerInfoEn{
			width: 30%;
		}
		footer ul.footerMeny li#footerUtleie{
			width: 18.5%;/**/
		}
		footer ul.footerMeny li#footerUtleieEn{
			width: 21.5%;/**/
		}
		footer ul.footerMeny li#footerDJ{
			width: 9.5%;/**/
		}
		footer ul.footerMeny li#footerKontakt{
			width: 25%;/**/
		}
		footer ul ul.footerMenuEnglish {
			left: 22% !important;
		}
		p#copyright {
			position: absolute;
			right: 0;
			font-size: 1.8vw;
			bottom: 0%;
		}
		/*INFO SIDE*/
		#infoImg {
			width: 61%;
			margin-left:10px;
			margin-top: 10px;
		}
		article a.anchor {
			padding-top: 150px;
		}
		/*UTELEIE SIDE*/
		.utleieBilde {
			width: 80%;
		}
		.festival {
			font-size: 90%;
		}
		/*DJ SIDE*/
		.dj {
			width: 100%;
			margin-right: 0;
		}
		/*KONTAKT SIDE*/
		article div.informasjon {
			width: 100%;
			float: left;
		}
		form {
			width: 100%;
			float: left;
		}
		textarea {
			width: /*173.4%*/100%;
			height: 300px;
		}
		h3 {
			font-size: 3.5vw;
		}
		#kontaktSendt {
			min-height: 520px;
			width: 100%;
		}
}

@media only screen 
and (max-width:500px) {
   /* Mobile */
	/*ALLE SIDER*/
		/*header*/
		h1 {
			font-size: 4.7vw;
		}
		#navbar {
			height: 130px;
		}
		#navLogo {
			height: 70%;
			margin-top: 2.8%;
			left: -11%;
		}
		nav {
			margin-right: -12%;
			width: 84%;
		}
		nav#headerMenuEn {
			margin-right: -9%;
		}
		nav ul {
			font-size: 2.9vw;
		}
		nav ul ul li {
			width: 150%;
		}
		nav ul ul li a {
			width: 100%;
			font-size: 2.7vw;
		}
		ul#noEn {
			width: 28%;
			right: 1%;
			font-size: 2.3vw;
		}
		/*hoved innhold*/
		section {
			width: 100%;
		}
		article.venstreSpalte {
			width: 94%;
			float: left;
			margin-left:3%
		}
		article.hoyreSpalte {
			width: 94%;
			float: left;
			margin-left: 3%;
		}
		article.hovedSpalte {
			width: 94%;
			margin-left: 3%;
			float: left;
		}
		/*footer*/
		footer {
			height: 190px;
			font-size: 2.1vw;
		}
		footer div.footerwrap {
			width: 97%;
			margin-left: 3%;
		}
		footer ul ul#subnav2 {
			top: 11%;
			left: 20.5%;
		}
		footer ul.footerMeny li#footerHjem {
			width: 18%;/**/
		}
		footer ul.footerMeny li#footerHjemEn {
			width: 21%;/**/
		}
		footer ul.footerMeny li#footerInfo {
			width: 27%;/**/
		}
		footer ul.footerMeny li#footerInfoEn{
			width: 30%;
		}
		footer ul.footerMeny li#footerUtleie{
			width: 18.5%;/**/
		}
		footer ul.footerMeny li#footerUtleieEn{
			width: 21.5%;/**/
		}
		footer ul.footerMeny li#footerDJ{
			width: 9.5%;/**/
		}
		footer ul.footerMeny li#footerKontakt{
			width: 25%;/**/
		}
		footer ul ul.footerMenuEnglish {
			left: 22% !important;
		}
		p#copyright {
			position: absolute;
			right: 0;
			font-size: 1.8vw;
			bottom: 0%;
		}
		/*INFO SIDE*/
		#infoImg {
			width: 61%;
			margin-left:10px;
			margin-top: 10px;
		}
		article a.anchor {
			padding-top: 150px;
		}
		/*UTELEIE SIDE*/
		.utleieBilde {
			width: 80%;
		}
		.festival {
			font-size: 90%;
		}
		/*DJ SIDE*/
		.dj {
			width: 100%;
			margin-right: 0;
		}
		/*KONTAKT SIDE*/
		article div.informasjon {
			width: 100%;
			float: left;
		}
		form {
			width: 100%;
			float: left;
		}
		textarea {
			width: /*173.4%*/100%;
			height: 300px;
		}
		h3 {
			font-size: 3.5vw;
		}
		#kontaktSendt {
			min-height: 520px;
			width: 100%;
		}
}