/*ALLE SIDER*/
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #F9F9F9;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.9vw/*2.5em*/;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #000000;
	border-bottom: 1px solid #D1A319;
}

p {
	line-height: 150%;
}

section {
	margin: 0 auto -200px;
	padding: 0;
	width: 75%;
    height: 100%;
	background-color: #F9F9F9;
	clear: left;
}

article {
	margin-bottom: 3%;
}

article.venstreSpalte {
	width: 70%;
	float: left;
}

article.hovedSpalte {
	width: 100%;
	float: left;
}

article.hoyreSpalte {
	width: 25%;
	float: right;
}

#bilde1 {
	opacity: 1;
}

#bilde2 {
	opacity: 0;
}
#bilde3 {
	opacity: 0;
}
#bilde4 {
	opacity: 0;
}
#bilde5 {
	opacity: 0;
}

/*header*/
.headerImg {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	position: absolute;
}

#navLogo {
	height: 75%;
	width: 7.5%;
	position: relative;
	margin-top: 1.2%;
	margin-left: 12.5%;
}

header {
	float: left;
	width: 100%;
	height: 500px;
}

/*Nav-bar*/
.navbar {
	width: 100%;
	height: 20%;
	position: fixed;
	margin: 0;
	padding: 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(209,163,25,1)));
	background: -moz-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(209,163,25,1)));
	background: -o-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(209,163,25,1)));
	background: -ms-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(209,163,25,1)));
	background: gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(209,163,25,1)));
	display: border-box;
	box-shadow: -1px 5px 10px #000000;
	z-index: 1;
}

nav {
	bottom: 0;
	right: 0;
	height: 30%;
	width: 40%;
	position: absolute;
	margin-top: 6.07%;
	margin-right: 5.5%;
}

#noen{
	position: absolute;
	top: 0em;
	right: 7em;
	text-decoration: none;
	color: #000000;
	font-size: 1.2vw;
}

nav ul {
	list-style-type: none;
    padding: 0;
	margin: 0;
	position: relative;
	font-weight: bold;
	font-size: 1.4vw;
	border: 0;
	height: 100%;
	color: #000000;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
	float: left;
	height: 100%;
	margin-right: 10%;
}
	nav ul li a {
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		height: 100%;
		color: #000000;
		border-bottom: 4px solid #D1A319;
	}
		nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
			outline: 0;
			border-bottom: 4px solid #000000;
		}
		nav ul li a.highlight {
			color: #F9F9F9;
			border-bottom: 4px solid #F9F9F9;
		}

nav ul ul#subnav1,nav ul ul#subnav2 {	
	display: none;
	position: absolute;
	padding: 0;
	width: 15%;
}
	nav ul ul li {
		background: rgba(209,163,25,0.9);
		position: relative;
		padding: 15px 5px 1px 5px;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		width: 150%;
	}
	nav ul ul li a {
		border-bottom: 1px solid #000000;
		width: 100px;
		margin-bottom: 0.1%;
		font-size: 1.2vw;
	}
	nav ul ul li a:hover, nav ul ul li a:focus, nav ul ul li a:active {
		border-bottom: 1px solid #F9F9F9;
		color: #F9F9F9;
	}

/* footer */
footer {
	width: 100%;
	/*height: 215px;*/
	height: 33vh;
	background-color: #666666;
	box-shadow: -1px -5px 10px #000000;
	clear: both;
	color: #F9F9F9;
	font-size: 1.17vw;
}
	footer div.footerwrap {
		width: 78.5%;
		height: 100%;
		margin-left: 12%;
	}

	footer div div {
		float: left;
		width: 31%;
		height: 100%;
		margin-right: 2%;
	}
		footer div div h5 {
			margin-bottom: 0px;
			margin-top: 12px;
		}
		footer div div h3 {
			border-bottom: 2px solid #D1A319;
			color: #F9F9F9;
		}
		footer div div img {
			height: 44%;
			width: 30%;
			margin-right: 5%;
			margin-top: 5%;
			margin-left: 10.5%;
			border-radius: 20px;
			box-shadow: -5px 10px 10px #000000;
		}

	footer ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		border: 0;
	}
		footer ul:after {
			content: ""; 
			clear: both; 
			display: block;
		}
		footer ul li {
			margin-top: 12px;
			margin-bottom: 0;
		}
			footer ul li a {
				display: block;
				box-sizing: border-box;
				text-decoration: none;
				color: #F9F9F9;
			}
				footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
					outline: 0;
					color: #D1A319;
				}
	footer ul ul#subnav3 {
		display: none;
		float: none;
		width: 100%;
		top: 12.5%;
		left: 8%;
		position: absolute;
	}
	footer ul ul#subnav4 {
		display: none;
		float: none;
		width: 100%;
		position: absolute;
		left: 13%;
		top: 34%;
	}
		footer ul ul li {
			float: left;
			border: 1px solid #D1A319;
			border-left: 0;
			padding-right: 3%;
			padding-left: 3%;
		}

/*FORSIDE*/
.publisert {
	font-style: italic;
	font-size: 80%;
}

#nyhetSide1 {
	display: block;
}
#nyhetSide2 {
	display: none;
}

span {
	font-size: 150%;
}

#nyhetNav {
	font-size: 150%;
	text-align: center;
}

#forsideBilde {
	box-shadow: 0px 5px 10px #000000;
	margin-bottom: 10px;
	width: 100%;
}

#nyhetBilde {
	width: 100%;
}

a.active { 
	color: #D1A319;
}
		
/*INFO SIDEN*/
article a.anchor {
	padding-top: 21vh;/*150px*/;
}

article a.anchor:hover {
	color:000000 !important;
}

#infoImg {
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: 0px 5px 10px #000000;
}

#infoImg1 {
	width: 100%;
	box-shadow: 0px 5px 10px #000000;
}

#infoImg2 {
	width: 100%;
	box-shadow: 0px 5px 10px #000000;
}

.linje {
	padding-top: 14px;
	border-top: 1px solid #D1A319;
}

/*UTLEIE SIDER*/
article a.utleieLink:link,
article a.utleieLink:visited,
article a.utleieLink:active {
    color: #000000;
	text-decoration: none;
}

article a.utleieLink:hover {
    color: #D1A319;
	text-decoration: none;
}

.utleieTabell{
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#utleieTable {
	margin: 0 auto;
}

.utleieOversikt img{
	width: 180px;
	height: 150px;
}

.utleieOversikt{
	border-width: 0 0 1px 1px;
    border-style: solid;
	color: black;
}


.utleieOversikt td, th{
	margin: 0;
    border: 0.6px;
	border-color: #666666;
	border-style: solid;
	border-width: 1px 1px 0 0;
	padding: 0.7vw;
}
.utleieBeskrivelse{
	font-weight: bold;
}

/*DJ SIDE*/
.djImg {
	width: 100%;
}

.dj {
	width: 30%;
	margin-right: 5%;
	height: 100%;
	float: left;
}

#rightDjDiv {
	margin-right: 0;
}

/*KONTAKT SIDE*/
form {
	float: left;
	width: 47.5%;
}

input {
	float: right;
	height: 25px;
	width: 250px;
}

input#submit {
	margin-top: 10px;
	float: left;
}

select {
	float: right;
	height: 25px;
	width: 254px;
}

textarea {
	clear: both;
	float: left;
	width: 209.5%;
	height: 300px;
}

article div.informasjon {
	float: right;
	width: 35%;
}

.infoImg {
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: -1px 5px 10px #000000;
}

.linje {
	padding-top: 14px;
	border-top: 1px solid #D1A319;
}

#forsideBilde {
	box-shadow: 0px 5px 10px #000000;
	margin-bottom: 10px;
}
.publisert {
	font-style: italic;
	font-size: 80%;
}

#nyhetSide1 {
	display: block;
}
#nyhetSide2 {
	display: none;
}
span {
	font-size: 150%;
}

#nyhetNav {
	font-size: 150%;
	text-align: center;
}

a.active { 
	color: #D1A319;
}
#forsideBilde {
	box-shadow: 0px 5px 10px #000000;
	margin-bottom: 10px;
	width: 100%;
}

.publisert {
	font-style: italic;
	font-size: 80%;
}
#nyhetBilde {
	width: 100%;
}
#nyhetSide1 {
	display: block;
}
#nyhetSide2 {
	display: none;
}
span {
	font-size: 150%;
}

#nyhetNav {
	font-size: 150%;
	text-align: center;
}

a.active { 
	color: #D1A319;
}

